<div class="well">
	<fieldset>
		<legend>Typical Perks (<%= params[:player_category] %>)</legend>
		<div class="row">
			<label class="col-sm-2">Accomodations</label>
	  		
	  	</div>

  		<div class="row form-group">
  			<div class="col-sm-12">
	  			<div id="bid_preference_accomodations_preview" class="preference-box">

	  			</div>
	  		</div>
  		</div>

  		<div class="row">
			<label class="col-sm-2">Dining</label>
	  		
	  	</div>

  		<div class="row form-group">
  			<div class="col-sm-12">
	  			<div id="bid_preference_accomodations_preview" class="preference-box">
	  			</div>
	  		</div>
  		</div>

  		<div class="row">
			<label class="col-sm-2">Entertainment & Recreation</label>
	  		
	  	</div>

  		<div class="row form-group">
  			<div class="col-sm-12">
	  			<div id="bid_preference_accomodations_preview" class="preference-box">
	  			</div>
	  		</div>
  		</div>

  		<div class="row">
			<label class="col-sm-2">Transporation</label>
	  		
	  	</div>

  		<div class="row form-group">
  			<div class="col-sm-12">
	  			<div id="bid_preference_accomodations_preview" class="preference-box">
	  			</div>
	  		</div>
  		</div>

  		<div class="row">
			<label class="col-sm-2">Gaming</label>
	  		
	  	</div>

  		<div class="row form-group">
  			<div class="col-sm-12">
	  			<div class="preference-box">
	  			</div>
	  		</div>
  		</div>

  		<div class="row">
			<label class="col-sm-2">Other Perferences</label>
	  		
	  	</div>

  		<div class="row form-group">
  			<div class="col-sm-12">
	  			<div class="preference-box">
	  			</div>
	  		</div>
  		</div>
  		
  	
  		<div class="pull-right">
  			<a href="#" onclick="window.close();" class="btn btn-primary btn-small">Close</a>
  		</div>
	</fieldset>
</div>
