    
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron hidden-sm">
  <h1>Whalebid</h1>
  <p>Where casinos compete for your business.</p>
<% if not user_signed_in? %>
  <p><a class="btn btn-primary btn-lg active" href="<%= new_user_registration_path %>" role="button">Free Sign Up! &raquo;</a></p>
<% end %>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container steps">

      <!-- Three columns of text below the carousel -->
      <div class="row steps-section">
        
				<div class="col-md-4">
          <center><span class="glyphicon glyphicon-upload"</span></center></br>
					<center><h2 class="step-number">Step 1</h2></center>
					<center><h3 class="step-heading">Submit Your Bid</h3></center>
          <p class="step">Tell us the perks you prefer, and don't forget to think big! The larger the amount you plan to gamble during your stay, the more you can demand. Trust us when we say, get creative!</p>
          <center><p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p></center>
				</div><!-- /.col-md-4 -->
        
				<div class="col-md-4">
          <center><span class="glyphicon glyphicon-check"></span></center></br>
					<center><h2 class="step-number">Step 2</h2></center>
					<center><h3 class="step-heading">Select The Best Offer</h3></center>
          <p class="step">Within 48 hours you'll begin to receive offers from casinos.  The perks in each offer will depend upon the amount of your gambling budget. Choose the best casino offer.</p>
          <center><p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p></center>
        </div><!-- /.col-md-4 -->
        
				<div class="col-md-4">
          <center><span class="glyphicon glyphicon-heart"></span></center></br>
					<center><h2 class="step-number">Step 3</h2></center>
					<center><h3 class="step-heading">Enjoy Your Perks!</h3></center>
          <p class="step">Enjoy your stay! You can now rest assured that you are getting best deal. Today's casinos offer some of the best entertainment and dining experiences in the world.  Whalebid makes sure you are getting the best the industry has to offer. </p>
          <center><p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p><center>
        </div><!-- /.col-md-4 -->

			</div><!-- /.row -->
</div><!-- /.container -->


 <!-- START THE FEATURETTES -->

<div class="container benefits">
		
		<hr class="featurette-divider">
			<div class="row featurette">
       	<div class="col-md-7">
          <h2 class="featurette-heading">Get More Perks! <span class="text-muted"> The sky is the limit.</span></h2>
          <p class="lead">Whether it’s free accommodations, free dining, or comped airfare, you will get to choose among the offers you receive.  Casinos want your business and will go to great lengths to earn it.  You do have to gamble what you say you will gamble, but you can rest assured that you selected the best offer.</p>
        </div><!-- /.col-md-7 -->
       	<div class="col-md-5">
          <img class="featurette-image img-responsive" src="/assets/brick.jpg" alt="Generic placeholder image">
        </div><!-- /.col-md-5 -->
      </div><!-- /.row -->
		</hr>
      
	 <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/assets/brick.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading"> Remain anonymous. <span class="text-muted"> You are in control.</span></h2>
          <p class="lead">You do not have to disclose your name and contact information until your bid gets accepted or you accept an offer from a casino.  You can submit your bids anonymously without any casino knowing who you are during the process.  You stay in control.  You will not get spammed simply because you asked a casino to respond to your bid.</p>
        </div>
      </div>

    <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>
		</hr>
</div><!-- /.container -->



